/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #637d9d;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    background-color: #8199b5;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 20px;
	padding-right: 20px;
}

.ms-choice > span.placeholder {
    color: #fff;
}

.ms-drop {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: 5px;
    padding: 0;
	padding-left:10px;
	padding-right:10px;
    position: absolute;
    z-index: 1000;
    background: #637d9d;
    color: #fff;
    border: 1px solid #425770;
}

.ms-drop.bottom {
    top: 100%;
    box-shadow: 0px 2px 2px #637d9d;
}

.ms-drop.top {
    bottom: 100%;
    box-shadow: 0px 2px 2px #637d9d;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 10px 10px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
	line-height:24px;
	height:24px;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="radio"],
.ms-drop input[type="checkbox"] {
    vertical-align:baseline;
	margin-right:5px;
}

.ms-drop .ms-no-results {
    display: none;
}
